* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Site Components
*/

.banner {
    background-color: rgb(56, 56, 56);
    display: flex;
    width: 100%;
    height: 15rem;
    color: white;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    width: 100%;
    background-color: white;
    height: 50rem;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    flex-wrap: wrap;
}

/*
Items
*/

.item{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    height: 20rem;
}

.image{
    background-color: rgb(88, 88, 88);
    border-radius: 5px;
}

/*
Predefined Styles
*/

.medium-title-text{
    font-size: 2rem;
}

.medium-description-text{
    font-size: 1rem;
}

.medium-img{
    width: 512px;
    height: 256px;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* Your styles here */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* Your styles here */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* Your styles here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Your styles here */
}

/* Larger screens (1600px and up) */
@media (min-width: 1600px) {
    /* Your styles here */
}